.introContainer {
  padding: 20px;


}
.introDetailContent {
  width: 100%;
  background-color: #fef9ee;
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 18px;

}
.introDetailStrongText {
  font-size: 28px;
  color: rgb(192, 0, 0);
}